.history {
	padding: 1rem;
	position: relative;
}
.history__header {
	margin-bottom: 1rem;
}

.history-detailed__header {margin-bottom: 1rem;}

.history__month {
	margin-bottom: 1rem;
}

.history-item {
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 4px #ccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	span {margin-bottom: .7rem;}
}
.history-item__date {
	font-size: .75rem;
}
.history-item__status {
	border: 2px solid $blue;
	border-radius: 12px;
	font-size: .75rem;
	padding: .5rem;
}
.history__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap:wrap;
}
.history__list-item {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 5px #ccc;
	padding: .5rem;
	margin-bottom: 1rem;
}
.history__category {
	text-transform: capitalize;
}

.button-back {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $orange;
}
.date-container {
	display: flex;
	align-items: center;
	img{margin-right: .5rem;}
}
