.header {
	padding-left: 1rem;
}
.header__input {
	background: no-repeat 3% center url('../../assets/search.svg');
	box-shadow: 0 5px 12px #ccc;
}
.main{
	padding: 1rem;
}
.items-container {
	overflow-y: scroll;
}
.no-scroll {
	overflow: hidden;
}

